<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/styles.css">
    <link rel="shortcut icon" href="images/todo-list.jpg" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>TODO</title>
</head>
<body>

    <%- include("partials/navbar.ejs") %>

    <div class="box" id="heading">
        <h1>Work List</h1>
    </div>

    <div class="box">
        
        <div class="item">
          <input type="checkbox">
          <p>
            Learning english one hours
          </p>
        </div>
        
          <form class="item" action="/" method="post">
            <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
            <button type="submit" name="list" value="Work" list="">
                <i class="fa-solid fa-plus" style="margin-top: 10px;"></i>
            </button>
          </form>
    </div>

    <%- include("partials/footer.ejs") %>
</body>
</html>